
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
}
/* sheard style  */
.display-flex{
  display: flex;
}
.section-title-color{
  color: #E95A08;
}
/* sope and about us color */
.light-gray{
  color: #8987A1;
}
.gray{
  color: #252432;
}
/* header related style */

/* navbar related style */

.navbar img{
  width: 130px;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.nav-header{
  max-width: 1140px;
  margin: 0 auto; 
}

.nav-item{
  list-style: none;
  margin-right: 48px;
}

.nav-link{
  text-decoration: none;
}
/* section part 1 styles */
.section-container{
  display:flex;
  max-width: 1140px;
  margin:0 auto; 
  margin-top: 120px;
  

}
.section-title{
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 13px;
}
.section-title-drescription{
  font-size: 1.37rem;
  margin-top: 13px;
  
}
.container-title{
  width: 530px;
}
/* section part 2 card related style */
.crad-section{
  margin-top: 120px;
  margin-bottom: 210px;
}
.card-header{
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.card-section-title{
  font-size: 3.12rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.btn-primary{
  border: none;
  background-color: #E95A08;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
  padding: 19px 80px;
  /* text-align: center; */
}
.card-container{
  max-width:1140px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.card-title{
  font-size: 1.37rem;
  font-weight: 400;
}
.money{
  font-weight: 700;
}

/* section part 3 flower style */
.flower-title{
  font-size: 3.12rem;
  font-weight: 700;
}
.flower{
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  gap: 60px;
  margin-bottom: 130px;
}
.flower h3,li{
  margin-bottom: 20px;
  
}
.flower-title{
  max-width: 540px;
}

/* text-section style  */
.text-section{
  max-width: 1440px;
   margin: 0 auto;
  text-align: center;
}

/* offer section style */
.offer-section{
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  gap: 28px;
}
.left-offer img{
  border-radius: 14px;
  
}
.right-offer img{
  border-radius: 22px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.card-add{
  border-bottom: 2px solid #FFFFFF;
  font-size: 1.19rem;
  font-weight: 600;
}
.card-adding{
  font-size: 1.75rem;
  font-weight: 600;
  border-bottom: 2px solid #FFFFFF;
}
.card{
  display: flex;
  width: 367px;
  align-items: center;
  text-align: center;
  margin: 25px;
  border-radius: 14px;
  justify-content: center;
  
}
.card h5{
  color:#FFFFFF;
  position: absolute;
  font-size: 1.35rem;
  font-weight: 700;

}
.right-offer {
  display: flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  
}
.right-offer h4{
  position: absolute;
    color:#FFFFFF;
  font-size: 2.25rem;
}

/*          meaida quary responsive           */
@media screen and (max-width:576px) {
  #nav-opsions{
    display:none;
  }
  .navbar img{
  width: 60px;
  }
  .nav-header{ 
  margin-left: 16px;
  margin-right: 16px; 
}
/* second part */
 .section-container {
    flex-direction: column-reverse ;
    align-items: center; 
    padding: 0 20px; 
  }

  .section-part1-image {
    margin-bottom: 20px; 
  }

  .container-title {
    width: 100%; 
  }

  .section-title {
    font-size: 2.2rem; 
  }

  .section-title-drescription {
    font-size: 1rem; 
  }

  .section-part1-image img {
    width: 100%; 
    height: auto;
  }
  /* section part2 card related */

    .card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
    gap: 20px;
  }

  .btn-primary {
    padding: 12px 30px;
    font-size: 0.9rem;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .card-container img {
    width: 100%;
    height: auto;
  }

  .card-container div {
    padding: 10px;
  }
  .card-section-title{
    font-size: 1.5rem;
  }
  /* section part 3 flower style */
    .flower {
    flex-direction: column; 
    padding: 0 20px;         
    text-align: center;      
  }

  .flower-title {
    max-width: 100%;        
  }

  .flower img {
    width: 100%;            
    height: auto;
  }

  .flower-title h3 {
    font-size: 1.5rem;        
  }

  .flower-title li {
    font-size: 1rem;
    text-align: left;       
  }

  /* offer section responcive */
    .right-offer,
    .card,
    .offer-section{
      flex-direction: column;
    }
    .right-offer img{
      width: 100%;
    }
    .offer-section{
      align-items: center;
      margin-top: 20px;
    }
 
}



