
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
}
/* sheard style  */
.display-flex{
  display: flex;
}
.section-title-color{
  color: #E95A08;
}
/* sope and about us color */
.light-gray{
  color: #8987A1;
}
.gray{
  color: #252432;
}
/* header related style */

/* navbar related style */

.navbar img{
  width: 130px;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.nav-header{
  max-width: 1140px;
  margin: 0 auto; 
}

.nav-item{
  list-style: none;
  margin-right: 48px;
}

.nav-link{
  text-decoration: none;
}
/* section part 1 styles */
.section-container{
  display:flex;
  max-width: 1140px;
  margin:0 auto; 
  margin-top: 120px;
  

}
.section-title{
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 13px;
}
.section-title-drescription{
  font-size: 1.37rem;
  
}
.container-title{
  width: 530px;
}

/* meaida quary responsive */
@media screen and (max-width:576px) {
  .section-container{
    flex-direction: column-reverse;
  }
  #nav-opsions{
    display:none;
  }
  .navbar img{
  width: 60px;
  }
  .nav-header{ 
  margin-left: 16px;
  margin-right: 16px; 
}
/* second part */
  .section-part1-image{
    
  }
}



